<!doctype html>
<html lang="en">
<head>
    <title>Register or Authenticate</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
     integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
        body { padding-top:80px }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Register or Authenticate</h1>

        <a href="/login" class="btn btn-default">Login</a>
        <a href="/register" class="btn btn-default">Register</a>
    </div>

</div>
</body>
</html>